* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #F5EFE6; /* Eggshell/Off-White */
    --text-color: #4D403D; /* Dark Chocolate Brown */
    --primary-color: #5A7454; /* Earthy Green */
    --accent-color: #A95C32; /* Terracotta/Rust */
    --secondary-color: #FFFFFF; /* Pure White */
    --star: #FFAE42; /* Star Color */
    --star-hover: #FF8C00; /* Star Hover Color */
}

/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    font-family: 'Lora', serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

body h2 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    text-decoration: underline;
    text-underline-offset: 12.5%;
    text-decoration-thickness: 2.5%;
}

main {
    padding: 2rem;
    max-width: 767px;
    margin: 0 auto;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}