/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Eggshell/Off-White */
    --background-color: #F5EFE6;

    /* Dark Chocolate Brown */
    --text-color: #4D403D;

    /* Earthy Green */
    --primary-color: #5A7454;

    /* Terracotta/Rust */
    --accent-color: #A95C32;

    /* Pure White */
    --secondary-color: #FFFFFF;

    /* Star Color */
    --star: #FFAE42;

    /* Star Hover Color */
    --star-hover: #FF8C00;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 2rem;
    margin: 0;
}

main {
    padding: 2rem;
    max-width: 767px;
    margin: 0 auto;
}

/* Form General Styles */

form {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    font-family: 'Lora', serif;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
    font-weight: bold;
}

/* Select */
form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    min-height: 44px;
}

/* Rating */
input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: 0.25rem;
}

.stars>label {
    color: var(--star);
    width: 30px;
    height: 30px;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0);
    min-height: 44px;
}

.stars>label:hover {
    color: var(--star-hover);
    cursor: pointer;
}

.stars>label::before {
    content: "\2606";
}

.stars input:checked~label::before {
    content: "\2605";
}

/* Date */

label[for="date"] {
    display: block;
    margin-bottom: 0.5rem;
    caret-color: rgba(0, 0, 0, 0);
}

#date {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
    min-height: 44px;
}

/* Checkbox */
label[for="checkbox"] {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="checkbox"] {
    min-width: 20px;
    min-height: 20px;
    appearance: none;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    vertical-align: middle;
}

input[type="checkbox"]:checked {
    background-color: var(--accent-color); 
    border-color: var(--text-color); 
}

.features {
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
}

.features>label {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0;
    font-size: 0.9rem;
}

.features>label:hover {
    color: var(--accent-color);
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    font-weight: 400;;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}