* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: #333;
    --secondary-color: #fff;
    --accent-color-1: #ccc;
    --accent-color-2: #000;
}

h1,
h2,
a,
footer p {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    color: var(--secondary-color);
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding: 25px;
}

body {
    line-height: 1.6;
}

/* Header styles */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;

    background: var(--primary-color);
    color: var(--secondary-color);
}

#hamburger {
    font-size: 2rem;
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    padding: 0 15px;
    display: block;  
}

nav {
    display: none;  
    grid-column: 1 / -1;
}

nav.open {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;  
    padding: 1rem;
    background-color: var(--accent-color-2);
}

nav a {
    display: block;
    padding: 1rem;
    color: var(--secondary-color);
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

nav a:hover {
    text-decoration: overline;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* main */
main { 
    max-width: 740px;
    margin: 0 auto;
    padding: 20px;
}

main h1 {
    font-size: 2rem;
    text-align: center;
    padding: 25px;
    color: var(--primary-color);
}

main h2 {
    font-size: 1.5rem;
    text-align: left;
    padding: 10px;
    color: var(--primary-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;  
    gap: 30px;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--accent-color-1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.9rem;
    color: var(--accent-color-2);
    text-align: center;
    margin-top: 10px;
}

/* Footer styles */
footer {
    background: var(--primary-color);
    color: var(--accent-color-1);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 1rem;
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: clamp(1rem, 1vw, 3rem);
    color: var(--accent-color-1);
}